#peliculas {
  padding: 15px;
}

#peliculas .agregar-pelicula {
  margin-bottom: 20px;
}

.grid-peliculas {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

@media screen and (max-width: 992px) {
  .grid-peliculas {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .grid-peliculas {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .grid-peliculas {
    grid-template-columns: 1fr 1fr;
  }
}
